<nav class="navbar">
  <div class="nav-logo">
    <a href="#"><img src="./../assets/images/logo.svg" alt="Logo evilla" /></a>
  </div>
  <ul class="navigation-menu">
    <li><a href="#" class="nav-item">Home</a></li>
    <li><a href="#about" class="nav-item">About</a></li>
    <li><a href="#tours" class="nav-item">House tours</a></li>
    <li><a href="#contact" class="nav-item">Contact</a></li>
    <li>
      <a href="#hero" class="nav-item nav-cta"
        >Book a meeting <i class="fa-solid fa-crow"></i
      ></a>
    </li>
  </ul>
</nav>
