@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
  --font-important:#6c4801;
  --gray: #3b3b3b;
  --accent-1: #A5b3ff;
  --accent-1-tint:#e5eeff;
  --accent-2: #FFC044;
  --accent-2-tint: #fff8e4;
  --accent-2-tint-90trans: hwb(44 89% 0% / 0.9);
  --accent-2-tint-30trans: rgba(255, 248, 228, 0.3);
  --transparent: (0,0,0,0);
  --border-radius: 4px;
  --products-main: #151E50;
  --box-shadow: 0px 4px 16px rgba(214, 214, 214, 0.25);
}

/*#############################################*/
/* GENERAL  */
/*#############################################*/

@media screen and (max-width: 815px) {
  *{
    font-size: 12px;
  }
  
/*#############################################*/
/* HERO */
/*#############################################*/
  .hero-wrapper{
    display: block;
  }

  .hero-img{
    display: none;
  }

  .hero-text{
    padding: 20rem 1rem 0;
    margin: 1rem 0;
  }

  .hero-wrapper{
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 35%, rgba(255,255,255,1) 45%), url('./assets/assets/hero\ image.png');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-x: center;
  }

  .hero-title::after{
    display: none;
  }
/*#############################################*/
/* ABOUT */
/*#############################################*/

  .section-marketing{
    padding: 0;
  }

  .marketing-title{
    margin-bottom: 0;
    padding-bottom: 2rem;
  }

  .marketing-cards{
    grid-template-columns: 1fr;
    position: relative;
  }

  .marketing-cards::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    transform: translate(-25%, -25%);
    background-image: url('./assets/assets/dots\ about\ section.svg') ;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
  .marketing-cards::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    transform: translate(25%, 25%);
    background-image: url('./assets/assets/dots\ about\ section.svg') ;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .marketing-title{
    background-image: none;
  }

/*#############################################*/
/* PRODUCTS */
/*#############################################*/

  .section-products{
    margin-top: 8rem;
  }

  .products-title{
    padding: 0 0 2rem;
  }

  .products-examples{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .card-large, .card-smol{
    grid-row: span 1;
    grid-column: span 1;
  }

  .card-large{
    grid-row: span 1;
    grid-column: span 1;
    grid-template-columns: 40% 1fr;
  }

  .card-large .card-img{
    margin: 1rem;
    border-radius: var(--border-radius);
    grid-row: span 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;

  }

  .card-large .card-text{
    padding: 2rem 1rem 1rem;
  }

  /*#############################################*/
  /* FOOTER */
  /*#############################################*/

  .contact-wrapper{
    display: block;
    background-color: var(--accent-2-tint);
    border-radius: var(--border-radius);
    padding: 2rem 2rem 15rem;
    background-image: linear-gradient(180deg, var( --accent-2-tint-90trans) 65%, var( --accent-2-tint-30trans) 85%, var(--transparent) 100% ), url('./assets/assets/footer\ 2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }

  .contact-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .🤡 .footer-image{
    display: none;
  }

  .footer-wrapper{
    display: flex;

  }

}
