@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
  --font-important:#6c4801;
  --gray: #3b3b3b;
  --accent-1: #A5b3ff;
  --accent-1-tint:#e5eeff;
  --accent-2: #FFC044;
  --accent-2-tint: #fff8e4;
  --border-radius: 4px;
  --products-main: #151E50;
  --box-shadow: 0px 4px 16px rgba(214, 214, 214, 0.25);
}

/*#############################################*/
/* GENERAL  */
/*#############################################*/

html{
    scroll-behavior: smooth;
    color: var(--gray);

}

/* img{
  width: 10rem;
} */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body{
  padding: 1rem 0;
  position: relative
}

h1{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--gray);
}

h2{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--gray);

}

h3{
  font-weight: 400;
  font-size: 18px;
}

.mb-2rem{
  margin-bottom: 2rem;
}

span{
    color: var(--font-important);
}

.navbar{
  padding: 0 2rem;
}
.section-hero, .section-marketing{
  margin: 3rem;
}

.grid{
  display: grid;
}

.acc-2-button{
  display: block;
  background-color: var(--accent-2);
  padding: 1rem;
  border: none;
  border-radius: var(--border-radius)
}

.➡️{
  justify-self: end;
}

/*#############################################*/
/* NAVBAR  */
/*#############################################*/
nav{
  height: 100px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navigation-menu{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-cta{
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--accent-2);
}

.nav-item:link,.nav-item:visited {
  text-decoration: none;
  color: inherit;
}

.nav-item:hover, .nav-item:active{
  color: var(--font-important);
}

.nav-cta:hover, .nav-cta:active{
  background-color: var(--font-important);
  color: white;
}


/*#############################################*/
/* HERO */
/*#############################################*/
.hero-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  column-gap: 4rem;

}

.hero-text{
  grid-column: 1 /2;
  margin: 8.5rem 0;
}

.hero-img{
  grid-column: 2/-1;
  max-width: 40rem;
}

.hero-img img{
  width: 100%;
}
.hero-text, .hero-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-form{
  margin: 2rem 0;
}

.hero-title{
  text-align: center;
}

.hero-form input{
  display: block;
  height: 4rem;
  width: 35rem;
  border-radius: var(--border-radius);
  border: solid 1px var(--accent-1);
}

.form-config-acc{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.form-config-acc a{
  display: inline-block;
  text-decoration: none;;
}


.form-config-acc a:link,.form-config-acc a:visited {
  color: inherit;
}

.form-config-acc a:hover,.form-config-acc a:active{
  text-decoration: solid underline black 1px;
}


.hero-title{
  position: relative;
}
/* po zrobieniu tego za pomoca pseudoklasy, zauwazylem ze background image idealnie sie wyrownuje z input z form.
Czyli dotsy zostaly zrobione za pomoca diva na headerach z padingiem i nastepnie background-img, no repeat size: 100% 50%;
Za duzo czasu spedzilem na moim rozwiaznaiu, moze zmienie jak bede pamietal*/

.hero-title::after{
  content: ' ';
  z-index: -1;
  background-image: url('./assets/assets/dots\ hero\ section.svg');
  position: absolute;
  background-repeat: no-repeat;
  top:0;
  left:0;
  transform: translate(-7.5%, -20%);
  width: 80%;
  height: 150%;
} 

/*#############################################*/
/* MARKETING */
/*#############################################*/

.section-marketing{
  padding: 4rem 0;
}

.marketing-title{
  text-align: center;
  margin-bottom: 4.5rem;
  padding: 2rem 0;
  background-image: url('./assets/assets/dots\ about\ section.svg');
  background-repeat: no-repeat;
  background-position-x: 70%;
}

.marketing-cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  background-color: var(--accent-2-tint);
  padding: 4rem;
}

.card{
  background-color: white;
  display: flex;
  flex-direction: column;

}

.card h3{
  color: var(--font-important);
  font-weight: 700;
  margin: 2rem 0;
  text-align: center;
}

.card p{
  padding: 0 1rem 2rem;
  text-align: center;
}

/*#############################################*/
/* PRODUCTS  */
/*#############################################*/
.section-products{
  background-color: var(--accent-1-tint);
  padding: 3rem;
}

.products-title{
  padding: 4rem;
  text-align: center;
}

.products-examples{
  color: var(--products-main);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, min(20rem));
  row-gap: 1rem;
  column-gap: 1rem;
}

.card-large, .card-smol{
display: grid;
background-color: white;
border-radius: var(--border-radius);
}

/* ***************************************************** */
/* LARGE CARD */
.card-large{
  grid-row: span 2;
  grid-column: span 1;
  grid-template-rows: 60% 40%;
}

.card-large .card-img{
  margin: 1rem;
  border-radius: var(--border-radius);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y:bottom;
}

.card-large .card-text{
  padding: 2rem 1.5rem 1rem;
}

/* ***************************************************** */
/* SMALL CARD */
.card-smol{
  grid-row: span 1;
  grid-column: span 1;
  grid-template-columns: 40% 1fr;
}

.card-smol .card-img{
  margin: 1rem;
  border-radius: var(--border-radius);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y:bottom;
}

.card-smol .card-text{
  padding: 2rem 1rem 1rem;
}

/* ***************************************************** */
/* GENERAL FOR CARD*/
.card-text{
  padding: 2rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.card-cta{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-button{
  padding: 1rem;
  background-color: var(--accent-1);
  border: none;
  border-radius: var(--border-radius);
}

.price{
  font-weight: 700;
} 

.card-smol, .card-large{
  box-shadow: var(--box-shadow);
}

/* ***************************************************** */
/* FOOTER/CONTACT*/
/* ***************************************************** */

.section-contact{
  margin: 3rem;
}


.section-contact p{
  margin: 2rem 0;
}

.contact-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

/* ***************************************************** */
/* IMAGE*/
.footer-wrapper{
  position: relative;
  height: inherit;
  width: 66%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr) 10%;
  column-gap: 2rem;
  grid-auto-flow: row;
}

.footer-image{
  grid-row: span 3;
}

.footer-image a{
  grid-row: 4 / -1;
}

.footer-wrapper::after{
  content: ' ';
  position: absolute;
  z-index: -1;
  background-color: var(--accent-2-tint);
  border-radius: var(--border-radius);
  width: 100%;
  height: 50%;
  bottom: 0
}

/* i gave up */
.🤡{
  grid-column: span 1;
  grid-row: span 3;
  display: flex;
  flex-direction: column;
  justify-content: end;

}

.footer-image{
  width: 20vw;
  height: 20vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--border-radius);
  box-shadow:  var(--box-shadow);
}

.🤡 a{
  display: inline-block;
  margin: 2rem 0;
  text-decoration: none;
}

.🤡 a:active, .🤡 a:hover{
  text-decoration: underline;

}

.🤡 a:link, .🤡 a:visited{
color: var(--gray);
}