<div>
  <div class="search-form">
    <form [formGroup]="offerSearch">
      <input id="addressSearch" type="text" formControlName="addressSearch" />
      <input id="citySearch" type="text" formControlName="citySearch" />
      <input id="bedroomSearch" type="number" formControlName="bedroomSearch" />
      <input
        id="descriptionSearch"
        type="text"
        formControlName="descriptionSearch" />
      <button type="submit" class="btn" (click)="onSubmit()">Search</button>
    </form>
  </div>
  <div class="grid search-result">
    <app-card
      *ngFor="let offer of offerings; let i = index"
      [housing]="offer"
      variant="large"></app-card>
  </div>
</div>
