<div class="search-page">
  <div class="search-form">
    <form [formGroup]="offerSearch">
      <input
        placeholder="address"
        id="addressSearch"
        type="text"
        formControlName="addressSearch" />
      <input
        placeholder="city"
        id="citySearch"
        type="text"
        formControlName="citySearch" />
      <input
        placeholder="How many bedrooms min"
        id="bedroomSearch"
        type="number"
        formControlName="bedroomSearch" />
      <input
        placeholder="description"
        id="descriptionSearch"
        type="text"
        formControlName="descriptionSearch" />
      <div class="form-sort-group">
        <div
          *ngFor="let sort of this.searchService.sortingMethods"
          class="radio-button">
          <input
            type="radio"
            formControlName="sortSearch"
            [value]="sort"
            (change)="onChange(sort)" />
          <label>{{ sort }}</label>
        </div>
      </div>
      <div class="form-buttons">
        <button type="submit" class="btn" (click)="onSubmit()">Search</button>
        <button type="submit" class="btn" (click)="onClear()">Clear</button>
      </div>
    </form>
  </div>
  <div class="grid search-result">
    <app-card
      *ngFor="let offer of offerings; let i = index"
      [housing]="offer"
      variant="large"></app-card>
  </div>
</div>
