<div class="offer-wrapper">
  <app-card [housing]="offer"></app-card>
  <app-business-card [seller]="seller"></app-business-card>
  <form [formGroup]="emailFeedback">
    <input id="emailAddress" type="text" formControlName="emailAddress" />
    <textarea
      class="input-description"
      id="emailContent"
      type="text"
      formControlName="emailContent"></textarea>
    <button type="submit" [disabled]="!this.emailFeedback" (click)="onSubmit()">
      Send
    </button>
  </form>
</div>
