<div class="form">
  <img [src]="this.newOffer.image" />
  <form class="form-add-offer" [formGroup]="offerAdd">
    <input
      placeholder="address"
      id="addressOffer"
      type="text"
      formControlName="addressOffer" />
    <div class="form-in-line">
      <input
        placeholder="city"
        id="cityOffer"
        type="text"
        formControlName="cityOffer" />
      <input
        placeholder="price"
        id="priceOffer"
        type="text"
        formControlName="priceOffer" />
      <input
        placeholder="bedrooms"
        id="bedroomsOffer"
        type="number"
        formControlName="bedroomsOffer" />
    </div>
    <div class="form-image">
      <input
        placeholder="Image url"
        id="imageOffer"
        type="text"
        formControlName="imageOffer" />
    </div>
    <textarea
      placeholder="Describe your offer! :D "
      class="input-description"
      id="descriptionOffer"
      type="text"
      formControlName="descriptionOffer"></textarea>
    <button type="submit" class="btn" (click)="onSubmit()">
      Add your offer!
    </button>
  </form>
</div>
