<div [ngClass]="'card card-' + this.variant">
  <div
    class="card-img"
    [ngStyle]="{
      'background-image': 'url(' + this.housing.image + ')'
    }"></div>
  <div class="card-text">
    <div class="card-bedrooms">
      <p><i class="fa-solid fa-bed"></i>{{ this.housing.bedrooms }} bedrooms</p>
    </div>
    <h3 class="card-street">
      {{ this.housing.address }}
      <span *ngIf="variant !== 'smol'">{{ this.housing.city }} </span>
    </h3>
    <p class="card-description">
      {{ this.housing.description }}
    </p>
    <div class="card-cta">
      <span class="price">{{ this.housing.price }}</span>
      <button type="button" class="book-button">Book a Meeting</button>
    </div>
  </div>
</div>

<!-- 'background-image': 'url(' + this.housing.image + ')'  -->
