@use '../../../../assets/styles/variables';
@use '../../../../assets/styles/generals';

.card {
  display: grid;
  background-color: white;
  border-radius: variables.$border-radius;
  height: 100%;
  width: 100%;

  box-shadow: variables.$box-shadow;
  margin: 1rem;

  &-text {
    padding: 2rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
  }

  &-smol {
    grid-template-columns: 40% 1fr;

    .card-img {
      margin: 1rem;
      border-radius: variables.$border-radius;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: bottom;
    }

    .card-text {
      padding: 2rem 1rem 1rem;
    }
  }

  &-large {
    grid-template-rows: 60% 40%;

    .card-text {
      padding: 2rem 1.5rem 1rem;
    }

    .card-img {
      margin: 1rem;
      border-radius: variables.$border-radius;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: 0%;
      background-position-y: bottom;
    }
  }

  &-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .book-button {
      padding: 0.75rem;
      background-color: variables.$accent-1;
      border: none;
      border-radius: variables.$border-radius;
    }
  }
}

// /* ***************************************************** */
// /* SMALL CARD */
// .card-smol {
//
//   grid-column: span 1;
//
// }

// .card-smol .card-img {
//

// }

// .card-smol .card-text {
//
// }

// /*#############################################*/
// /* PRODUCTS  */
// /*#############################################*/

// .section-products {
//   background-color: variables.$accent-1-tint;
//   padding: 3rem;
// }

// .products-title {
//   padding: 4rem;
//   text-align: center;
// }

// .products-examples {
//   color: variables.$products-main;
//   display: grid;
//   grid-auto-flow: column;
//   grid-template-columns: repeat(3, 1fr);
//   grid-template-rows: repeat(2, min(20rem));
//   row-gap: 1rem;
//   column-gap: 1rem;
// }

// .card-large,
// .card-smol {

// }

// /* ***************************************************** */
// /* LARGE CARD */
// .card-large {
//   grid-row: span 2;
//   grid-column: span 1;
//
// }

// .card-large .card-img {
//   margin: 1rem;
//   border-radius: variables.$border-radius;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position-x: 0%;
//   background-position-y: bottom;
// }

// .card-large

// /* ***************************************************** */
// /* GENERAL FOR CARD*/

// .card-cta {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .book-button {
//   padding: 1rem;
//   background-color: variables.$accent-1;
//   border: none;
//   border-radius: variables.$border-radius;
// }

// .price {
//   font-weight: 700;
// }

// .card-smol,
// .card-large {
//
// }
