<nav class="navbar">
  <div class="nav-logo">
    <a routerLink=""
      ><img src="./../assets/images/logo.svg" alt="Logo evilla"
    /></a>
  </div>
  <ul class="navigation-menu">
    <li><a routerLink="" class="nav-item">Home</a></li>
    <li><a routerLink="" class="nav-item">About</a></li>
    <li><a routerLink="/search" class="nav-item">House tours</a></li>
    <li><a routerLink="" class="nav-item">Contact</a></li>
    <li>
      <a routerLink="/add" class="nav-item nav-cta">
        Add new offer! <i class="fa-solid fa-crow"></i
      ></a>
    </li>
  </ul>
</nav>
