$font-important: #6c4801;
$gray: #3b3b3b;
$accent-1: #a5b3ff;
$accent-1-tint: #e5eeff;
$accent-2: #ffc044;
$accent-2-tint: #fff8e4;
$border-radius: 4px;
$products-main: #151e50;
$box-shadow: 0px 4px 16px rgba(214, 214, 214, 0.25);
